<!DOCTYPE html>
<html>
<head>
    <title>Chatters</title>
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Welcome to Chatters</h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Begin by commencing to chat</h3>
        </div>
        <div class="panel-body">
            <ul>
                <!-- <li> -->
                    <a href="/chat">Start Chatting!</a>
                <!-- </li> -->

            </ul>
        </div>
    </div>
</div>
</body>
</html>